appnope==0.1.2
astroid==2.8.4
backcall==0.2.0
click==8.0.3
decorator==4.4.2
Flask==2.0.2
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.10.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jupyter-client==6.1.11
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.8.0
pylint==2.11.1
python-dateutil==2.8.1
pyzmq==22.0.3
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.2
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
