iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
toml==0.10.2
apache_airflow_backport_providers_google==2021.3.3
apache-airflow==1.10.15
psycopg2==2.8.5
mysqlclient==2.0.1